# System Files
**/.DS_Store
/source/image-handler/node_modules
/source/image-handler/coverage
/source/image-handler/.nyc_output
/source/custom-resource/node_modules
/deployment/dist
/deployment/manifest-generator/node_modules
